<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Upload</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css">
    <!-- <link rel="stylesheet" href="plugins/bulma/css/bulma.css"> -->
</head>

<body>
    <div class="container" id="uploadApp">
        <!--header-->
        <section class="section">
            <div class="container">
                <h1 class="title is-spaced">
                    Upload
                </h1>
                <p class="subtitle">
                    Upload file or copy/paste
                </p>
            </div>
        </section>

        <form action="http://localhost:5000/upload" method="POST" enctype="multipart/form-data" id="form" onsubmit="redirectToPreview()">
            <!--file upload-->
            <section class="section">
                <div class="container">
                    <h4 class="title is-4">Content</h4>
                    <div class="field">
                        <div class="control">
                            <textarea class="textarea" id="textArea" name="text"></textarea>
                        </div>
                    </div>
                    <br>
                    <div class="file has-name">
                        <label class="file-label">
                                <input class="file-input" type="file" name="file" id="fileInput" @change="onChangeListener">
                                <span class="file-cta">
                                    <span class="file-icon">
                                        <i class="fa fa-upload"></i>
                                    </span>
                                    <span class="file-label">
                                        Choose a file…
                                    </span>
                                </span>
                                <span class="file-name">
                                    {{fileName}}
                                </span>
                            </label>
                    </div>
                </div>
            </section>

            <!--parser configuration-->
            <section class="section">
                <div class="container">
                    <h4 class="title is-4">Parser Configuration</h4>
                    <div class="field">
                        <!-- obligatory -->
                        <div class="columns">
                            <div class="column is-one-quarter">
                                <span>delimiter</span>
                            </div>
                            <div class="column is-one-quarter">
                                <input class="input" type="text" placeholder="Text input">
                            </div>
                        </div>
                        <div class="columns is-one-quarter">
                            <div class="column is-one-quarter">
                                <span>quotechar</span>
                            </div>
                            <div class="column is-one-quarter">
                                <input class="input" type="text" placeholder="Text input">
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-one-quarter">
                                <span>use header</span>
                            </div>
                            <div class="column is-one-quarter">
                                <div class="control">
                                    <div class="control">
                                        <label class="checkbox">
                                                <input type="checkbox" v-model="useHeader">
                                            </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-one-quarter">
                                <span>has header</span>
                            </div>
                            <div class="column is-one-quarter">
                                <div class="control">
                                    <div class="control">
                                        <label class="checkbox">
                                                <input type="checkbox" v-model="hasHeader">
                                            </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- optional -->
                        <hr navbar-divider>
                        <!-- <br> -->
                        <div class="columns">
                            <div class="column is-one-quarter">
                                <span>skip initial space</span>
                            </div>
                            <div class="column is-one-quarter">
                                <div class="control">
                                    <div class="control">
                                        <label class="checkbox">
                                            <input type="checkbox" v-model="skipInitialSpace">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-one-quarter">
                                <span>skip initial N lines</span>
                            </div>
                            <div class="column is-one-quarter">
                                <input class="input" type="text" placeholder="Text input">
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-one-quarter">
                                <span>load N lines maximum</span>
                            </div>
                            <div class="column is-one-quarter">
                                <input class="input" type="text" placeholder="Text input">
                            </div>
                        </div>
                    </div>

                </div>
            </section>

            <!--buttons-->
            <section class="section">
                <div class="container">
                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-primary" type="submit">Submit</button>
                        </div>
                        <div class="control">
                            <button class="button is-default" type="button" v-on:click="clearAll">Clear All</button>
                        </div>
                    </div>
                </div>
            </section>
        </form>

    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="js/upload.js"></script>
</body>

</html>
