*.bak
*.swp
*.pyc
*.log
*.*~
*.mmdb
*.profile
.profile
intelmq_webinput_csv.egg-info
build
dist
*.old
.vagrant/
*~
.coverage
.idea/
htmlcov/
*.pem
*.key
src/
.eggs

# Debian build filed
debian/files
debian/intelmq-webinput-csv.postinst.debhelper
debian/intelmq-webinput-csv.prerm.debhelper
debian/intelmq-webinput-csv.substvars
debian/intelmq-webinput-csv/
/.pc/*
