{% extends "base.html" %}

{% block js %}
    {{ super() }}

    <script>
        const custom_fields = {
        {% for name, value in config['CUSTOM_INPUT_FIELDS'].items() %}
            {% set jskey = 'custom' + name.title().replace('.', '') %}
            '{{ name }}': '{{ jskey }}',
        {% endfor %}
        };

        {# Set const for Pipeline options if configured #}
        const d_pipelines = {
            {% if config['DESTINATION_PIPELINE_QUEUE'] is mapping %}
                {% for name, value in config.get('DESTINATION_PIPELINE_QUEUE', {}).items() %}
                    "{{ name }}": "{{ value }}",
                {% endfor %}
            {% endif %}
        };

        const d_uuid = '{{ uuid }}';
    </script>

    <script src="{{ url_for('static', filename='plugins/vue-select-3.20.2.js') }}"></script>
    <script src="{{ url_for('static', filename='js/preview.js') }}"></script>
{% endblock %}

{% block title %}Preview{% endblock %}
{% block subtitle %}{% endblock %}

{% block content %}
<form id="form" @change="saveDataInSession()">
        <div class="columns">
            <div class="column is-one-quarter">
                <nav class="panel is-link">
                    <p class="panel-heading">
                        Status
                    </p>
                    <div class="panel-block" v-if="message">
                        <article class="message is-info">
                            <div class="message-body">
                                {% raw %}{{ message }}{% endraw %}
                            </div>
                        </article>
                    </div>
                    <div class="panel-block">
                        <div class="container">
                            <nav class="level">
                                <div class="level-item has-text-centered">
                                <div>
                                    <p class="heading">Total</p>
                                    <p class="title">{% raw %}{{ numberTotal }}{% endraw %}</p>
                                </div>
                                </div>
                                <div class="level-item has-text-centered">
                                <div>
                                    <p class="heading">Successful</p>
                                    <p class="title">{% raw %}{{ numberSuccessful }}{% endraw %}</p>
                                </div>
                                </div>
                                <div class="level-item has-text-centered">
                                <div>
                                    <p class="heading">Failed</p>
                                    <p class="title">{% raw %}{{ numberFailed }}{% endraw %}</p>
                                </div>
                                </div>
                            </nav>            
                        </div>
                    </div>
                    <div class="panel-block">
                        <progress id="progress" class="progress is-info" value="0" max="100" hidden>0%</progress>
                    </div>
                </nav>
                <nav class="panel is-info">
                    <p class="panel-heading">
                        Options
                    </p>
                    <div class="panel-block" v-if="previewFormData.uuid">
                        <div class="control">
                            <label class="label">UUID</label>
                            <input class="input" type="text" placeholder="previewFormData.uuid" v-model="previewFormData.uuid" readonly>
                        </div>
                    </div>
                    <div class="panel-block" v-if="Object.keys(pipelines).length">
                        <div class="control">
                            <label class="label">pipeline</label>
                            <div class="select">
                                <select id="pipeline" v-model="previewFormData.pipeline">
                                    <option v-for="(key, value) in pipelines" :value="key">{% raw %}{{value}}{% endraw %}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="panel-block">
                        <div class="control">
                            <label class="label">timezone</label>
                            <div class="select">
                                <select v-model="previewFormData.timezone">
                                    <option v-for="timezone in timezones" :value="timezone">{% raw %}{{timezone}}{% endraw %}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="panel-block">
                        <div class="control">
                            <label class="label">dry run</label>
                            <input type="checkbox" v-model="previewFormData.dryRun">
                        </div>
                    </div>
                    <br>
                    <div class="panel-block">
                        <p class="subtitle">Constant fields (fallback):</p>
                    </div>
                    <div class="panel-block">
                        <div class="control">
                            <label class="label">classification type</label>
                            <div class="select">
                                <select v-model="previewFormData.classificationType" v-on:change="classificationTypeChange">
                                    <option disabled value="">select ...</option>
                                    <option v-for="type in classificationTypes" :value="type">{% raw %}{{type}}{% endraw %}</option>
                                </select>
                            </div>
                            <div><p>Taxonomy: <span id="resulting-taxonomy">select type</span></p></div>
                        </div>
                    </div>

                    {% for name, value in config['CUSTOM_INPUT_FIELDS'].items() %}
                        {% set jskey = 'custom' + name.title().replace('.', '') %}
                        <div class="panel-block">
                            <div class="control">
                                <label class="label">{{ name }}</label>
                                <input class="input" type="text" placeholder="{{ value }}" v-model="previewFormData.{{ jskey }}">
                            </div>
                        </div>
                    {% endfor %}

                    <div class="panel-block">
                        <div class="container">
                            <div class="field is-grouped">
                                <div class="control">
                                    <button id="failedButton" class="button is-danger" type="button" v-on:click="failedButtonClicked($event)" disabled>Failed lines</button>
                                </div>
                                <div class="control">
                                    <button id="refreshButton" class="button is-info" type="button" v-on:click="refreshButtonClicked($event)">Validate table</button>
                                </div>
                                <div class="control">
                                    <button id="submitButton" class="button is-success" type="button" v-on:click="submitButtonClicked($event)">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="column is-full">
                <table class="table is-bordered is-striped" id="dataTable">
                    <thead style="background-color:#e6ffff">
                        <tr>
                            <th style="text-align:center;vertical-align:middle" v-for="selectGroup in customDhoFields">
                                <v-select taggable :options="selectGroup"></v-select>
                            </th>
                        </tr>
                        <tr>
                            <th title="Use this column" style="text-align:center;vertical-align:middle" v-for="bool in customUseColumns">
                                <input type="checkbox" v-bind:checked="bool" />
                            </th>
                        </tr>
                        <tr v-show="hasHeader" v-for="line in headerContent">
                            <th v-for="cell in line" style="text-align:center;vertical-align:middle">
                                {% raw %}{{cell}}{% endraw %}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="line in bodyContent">
                            <td v-for="cell in line">
                                {% raw %}{{cell}}{% endraw %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="column is-one-eighth">
            </div>
        </div>
</form>
{% endblock %}
