{% extends "base.html" %}

{% block js %}
    {{ super() }}

    <script>
        const custom_fields = {
        {% for name, value in config['CUSTOM_INPUT_FIELDS'].items() %}
            {% set jskey = 'custom' + name.title().replace('.', '') %}
            '{{ name }}': '{{ jskey }}',
        {% endfor %}
        };

        {# Set const for Pipeline options if configured #}
        const d_pipelines = {
            {% if config['DESTINATION_PIPELINE_QUEUE'] is mapping %}
                {% for name, value in config.get('DESTINATION_PIPELINE_QUEUE', {}).items() %}
                    "{{ name }}": "{{ value }}",
                {% endfor %}
            {% endif %}
        };

        const d_uuid = '{{ uuid }}';
    </script>

    <script src="{{ url_for('static', filename='plugins/vue-select-1.3.3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/preview.js') }}"></script>
{% endblock %}

{% block title %}Preview{% endblock %}
{% block subtitle %}{% endblock %}

{% block content %}
<!--parameters-->
<form id="form" @change="saveDataInSession()">
    <section class="section">
        <div class="columns">
            <div class="column is-one-fifth">
                <p class="subtitle" v-bind:style="paragraphStyle">
                    {% raw %}{{numberTotal}}{% endraw %} lines in total
                </p>
                <p class="subtitle" v-bind:style="paragraphStyle">
                    {% raw %}{{numberFailed}}{% endraw %} lines failed
                </p>
                <div class="field" v-if="Object.keys(pipelines).length">
                    <div class="control">
                        <label class="label">pipeline</label>
                        <div class="select">
                            <select v-model="previewFormData.pipeline">
                                <option v-for="(key, value) in pipelines" :value="key">{% raw %}{{value}}{% endraw %}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="field" v-if="previewFormData.uuid">
                    <div class="control">
                        <label class="label">UUID</label>
                        <input class="input" type="text" placeholder="previewFormData.uuid" v-model="previewFormData.uuid" readonly>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <label class="label">timezone</label>
                        <div class="select">
                            <select v-model="previewFormData.timezone">
                                <option v-for="timezone in timezones" :value="timezone">{% raw %}{{timezone}}{% endraw %}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <label class="label">dry run</label>
                        <input type="checkbox" v-model="previewFormData.dryRun">
                    </div>
                </div>
                <br>
                <div class="content">
                    <p class="subtitle">Constant fields (fallback):</p>
                </div>
                <div class="field">
                    <div class="control">
                        <label class="label">classification type</label>
                        <div class="select">
                            <select v-model="previewFormData.classificationType" v-on:change="classificationTypeChange">
                                <option disabled value="">select ...</option>
                                <option v-for="type in classificationTypes" :value="type">{% raw %}{{type}}{% endraw %}</option>
                            </select>
                        </div>
                        <div><p>Taxonomy: <span id="resulting-taxonomy">select type</span></p></div>
                    </div>
                </div>

                {% for name, value in config['CUSTOM_INPUT_FIELDS'].items() %}
                    {% set jskey = 'custom' + name.title().replace('.', '') %}
                    <div class="field">
                        <div class="control">
                            <label class="label">{{ name }}</label>
                            <input class="input" type="text" placeholder="{{ name }}" v-model="previewFormData.{{ jskey }}">
                        </div>
                    </div>
                {% endfor %}
                <section class="section">
                    <div class="field is-grouped">
                        <div class="control">
                            <button id="failedButton" class="button is-danger" type="button" v-on:click="failedButtonClicked($event)" disabled>Failed lines</button>
                        </div>
                        <div class="control">
                            <button id="refreshButton" class="button is-info" type="button" v-on:click="refreshButtonClicked($event)">Validate table</button>
                        </div>
                        <div class="control">
                            <button id="submitButton" class="button is-success" type="button" v-on:click="submitButtonClicked($event)">Submit</button>
                        </div>
                    </div>
                </section>
            </div>
            <div class="column is-full">
                <table class="table is-bordered is-striped" id="dataTable">
                    <thead style="background-color:#e6ffff">
                        <tr>
                            <th style="text-align:center;vertical-align:middle" v-for="selectGroup in customDhoFields">
                                <div class="select">
                                    <v-select taggable :options="selectGroup"></v-select>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th title="Use this column" style="text-align:center;vertical-align:middle" v-for="bool in customUseColumns">
                                <input type="checkbox" v-bind:checked="bool" />
                            </th>
                        </tr>
                        <tr v-show="hasHeader" v-for="line in headerContent">
                            <th v-for="cell in line" style="text-align:center;vertical-align:middle">
                                {% raw %}{{cell}}{% endraw %}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="line in bodyContent">
                            <td v-for="cell in line">
                                {% raw %}{{cell}}{% endraw %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="column is-one-eighth">
            </div>
        </div>
    </section>
</form>
{% endblock %}